<div class="container">
  <div class="row">
    <form [formGroup]="formData" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="name" class="form-label">Project Name</label>
        <input
          type="email"
          class="form-control"
          id="name"
          formControlName="name"
          aria-describedby="nameHelp"
        />
        <div
          id="nameHelp"
          class="form-text"
          *ngIf="
            !formData.get('name').valid &&
            formData.get('name').errors['required']
          "
        >
          name is required
        </div>
        <div
          class="form-text"
          *ngIf="
            !formData.get('name').valid &&
            formData.get('name').errors['nameIsForbidden']
          "
        >
          name is nameIsForbidden
        </div>
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input
          type="email"
          formControlName="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
        />
        <div
          id="nameHelp"
          class="form-text"
          *ngIf="
            !formData.get('email').valid &&
            formData.get('email').errors['required']
          "
        >
          email is required
        </div>
        <div
          id="nameHelp"
          class="form-text"
          *ngIf="
            !formData.get('email').valid &&
            formData.get('email').errors['email']
          "
        >
          please enter valid email
        </div>
        <div
          class="form-text"
          *ngIf="
            !formData.get('email').valid &&
            formData.get('email').errors['emailIsForbidden']
          "
        >
          name is emailIsForbidden
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label">Status</label>
        <select
          class="form-select"
          aria-label="Default select example"
          formControlName="status"
        >
          <option selected>Choose</option>
          <option *ngFor="let status of allStatus" [value]="status">
            {{ status }}
          </option>
        </select>
        <div
          id="nameHelp"
          class="form-text"
          *ngIf="
            !formData.get('status').valid &&
            formData.get('status').errors['required']
          "
        >
          status is required
        </div>
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
